.background-articles-page{
    background-image: url('../assets/articles/background-page-articles.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60vh;
    margin: 0;
    padding: 0;
}

.background-articles-page h1{
    font-family: 'Kalam', cursive;
}

.articles h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.articles a{
    display: block;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    transition: padding-bottom 0.3s ease;
}
  
.articles a:hover {
    background: linear-gradient(to top, #f3cf7c, #ffffff);
}
  
.articles a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #333;
}