.primary-color{
    background-color: #3E2723 !important;
    color: white !important;
}

.primary-color:hover{
    background-color: #FFFFFF !important;
    color: #3E2723 !important;
    border: solid 1px #3E2723 !important;
}

.background-home{
    background-image: url('../assets/Clare.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

.navbar-container {
    transition:  0.32s ease-in-out;
    position: fixed;
    z-index: 1000;
}

.navbar-container.scrolled {
    padding: 0px 0;
    background-color: #FFDF91;
}

.navbar-nav{
    gap: 15px !important;
}

.navbar-nav a{
    color: #3E2723 !important;
}

/* HOME IMAGE INFO */

.container-home-image{
    color: #3E2723;
}

/* INSIGNIA */

.insignia div{
    max-width: 150px;
    width: 100%;
    margin: 0 45px 10px;
    display: inline-block;
}

.insignia h2{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #908e8f;
    font-weight: 700;
}

.insignia p{
    font-size: 20px;
    color: #908e8f;
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
}

/* WHO IS */

.who{
    width: 80%;
}

.container-who h3{
    font-family: 'Kalam', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    margin: 0 0 -30px -65px;
    line-height: .9;
    letter-spacing: -1px;
    display: block;
}

.container-who h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    margin: 0 0 15px -20px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: -1px;
}

.container-who img{
    border: 7px solid #fff;
    box-shadow: 0 15px 35px 5px rgba(0,0,0,.2);
}

.container-who p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* TESTIMONIAL */

.container-testimonial p{
    font-family: "Lato", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.3em;
    text-align: center;
}

.container-testimonial span{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* BOOKS */

.background-books{
    background-image: url('../assets/books/books.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 5%;
}

.container-book{
    display: flex;
    padding-left: 5%;
}

.container-book img{
    height: 360px;
    width: 300px;
}

.container-book p{
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 25px;
}

.container-info-book{
    display: flex !important;
}

.book-info{
    width: 50%;
}

.book-info h3{
    font-family: 'Kalam', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 90px;
    margin: 0 0 -30px -65px;
    line-height: .9;
    letter-spacing: -1px;
    display: block;
}

.book-info h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120px;
    margin: 0 0 15px -20px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: -1px;
}

.book-info p{
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 25px;
}

.book-description{
    width: 100%;
    padding-top: 2%;
    text-align: left;
}

/* CONTENT */

.background-content{
    background: radial-gradient(circle at 100% 50%, #FFDF91, transparent 40%);
    margin: 0;
    padding: 0;
}

.container-content *{
    color: #3E2723 !important;
}

.container-content img{
    max-height: 266px;
}

.view-post{
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
}

/* SPEAKER */

.img-speaker{
    border: 7px solid #fff;
    box-shadow: 0 15px 35px 5px rgba(0,0,0,.2);
    max-width: 1080px;
    max-height: 630px;
}

/* NAVBAR */

.links-navbar p:hover{
    cursor: pointer;
    color: #85544c;
}

