@media only screen and (max-width: 1025px){
    .background-home{
        height: 100%;
    }

    .navbar-container{
        position: relative;
    }
    
    .navbar-nav.show {
      display: block;
    }
  
    .navbar-nav .nav-item {
      margin: 10px 0;
    }

    .insignia div{
      margin: 0 20px 30px;
    }
    .who{
      width: 100%;
    }
    .who p{
      width: 100%;
    }
    .container-info-book{
      display: block !important ;
      width: 100%;
    }
    .book-info{
      width: 100%;
    }
    .container-book{
      display: block;
    }
    .book-description{
      text-align: center;
    }
}

@media only screen and (max-width: 700px){
    .insignia div{
        margin: 0 10px 20px;
    }
    .insignia h2{
        font-size: 30px;
    }
    .container-testimonial p{
        font-size: 40px;
    }
    .container-who h3{
        font-size: 70px;
        margin: 0 0 -30px 0;
    }

    .container-who h2{
        font-size: 70px;
        margin: 0 0 15px 35px;
    }
}