.background-quote-page{
    background-image: url('../assets/background-page-quotes.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60vh;
    margin: 0;
    padding: 0;
}

.quote{
    border: 1px solid #EDEADE;
    padding: 16px 40px 36px 40px;
    margin-bottom: 24px;
}


.quote-footer{
    color: #666;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    font-family: europa, sans-serif;
    letter-spacing: 0.1em;
}
.news-letter:hover{
    background: linear-gradient(to top, #f3cf7c, #ffffff);
}